
{% extends "base.html" %}
{% load static %}
{% block body %}
<body>
  <main>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner ">
        <div class="carousel-item active nav-header text-white text-start">
        <div class="container">
          <div class="row mt-5 main-title-sec p-5">
            <div class="main-title col-md-6 col-lg-6 col-sm-12"> EVENTS, <br>MEETUPS & <br>CONFERENCES</div>
            <div class="col-md-6 col-lg-6 col-sm-12 mt-5 container ">
              <div class="main-heading mt-5 ">Eventbliss </div>
              <div class="main-title2 ">Making Events Unforgettable ..</div>
            </div>
          </div>
        </div>
        </div>
        <div class="carousel-item nav-header1 text-white ">
          <div class="container mt-5">
            <div class="row mt-5 main-title-sec">
              <div class="main-title col-md-6 col-lg-6 col-sm-12 mt-5 "> EVENTS, <br>MEETUPS & <br>CONFERENCES</div>
              <div class="col-md-6 col-lg-6 col-sm-12 mt-5 container ">
                <div class="main-heading mt-5 ">EventBliss </div>
                <div class="main-title2 ">Making Events Unforgettable ..</div>
              </div>
            </div> 
          </div>
        </div>
        <div class="carousel-item nav-header2 text-white ">
          <div class="container mt-5">
            <div class="row mt-5 main-title-sec">
              <div class="main-title col-md-6 col-lg-6 col-sm-12 mt-5 "> EVENTS, <br>MEETUPS & <br>CONFERENCES</div>
              <div class="col-md-6 col-lg-6 col-sm-12 mt-5 container ">
                <div class="main-heading mt-5 ">EventBliss </div>
                <div class="main-title2">Making Events Unforgettable ..</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
    <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12 aboutus text-center">HOW WE CAN HELP YOU ? </div>
      <div class="col-md-12 col-sm-12 col-lg-12 text-center">‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗</div>
    </div>
    </div>
    <!-- about us -->
    <div class="container">
      <div class="row mt-5">
        <div class=" col-md-6 col-sm-12 col-lg-6 ">
          <div class="container">
            <div class="about-disc"> Welcome to <b>EventBliss</b> —where seamless events begin! For event creators, our user-friendly platform empowers you to effortlessly plan, promote, and host successful gatherings. Whether it's a conference, meetup, or special event, we've got you covered. As an attendee, discover and engage in a variety of exciting events tailored to your interests. Join us in shaping memorable experiences, fostering connections, and making every event a success. Elevate your events with EventBliss .</div>
            <div> <a href="#" class="bn13 p-2 btn-outline-dark border-dark">Explore More...</a></div>
          </div>
         
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6">
            <div class="row">
              <div class=" col-md-6 col-sm-12 about-img mt-3">
                <img src="{% static 'image/partyteam.jpg'%}" width="100%" alt="">
              </div> 
              <div class="col-md-6 col-sm-12 about-img mt-5">
                <img src="{% static 'image/semi.jpg'%}" class="" width="100%" alt="">
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <hr>
     
      <div class="row mt-5">
        <div class="col-md-4 col-sm-12 col-lg-4">
          <div class=" mb-3" style="max-width: 500px;">
            <div class="row g-0">
              <div class="col-md-2 m-auto">
                <img src="{% static 'image/change-management.png'%}" width="50px" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title service-title">What We Do ?</h5>
                  <p class="card-text service-para">"We connect attendees with a world of events and empower organizers to seamlessly host unforgettable experiences. Plus, we handle all your ticketing needs! "</p>
                </div>
              </div>
            </div>
          </div>
        </div> 
          <div class="col-md-4 col-sm-12 col-lg-4">
            <div class=" mb-3" style="max-width: 500px;">
              <div class="row g-0">
                <div class="col-md-2 m-auto">
                  <img src="{% static 'image/lightbulb.png'%}" width="50px" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title service-title">Who We Are ?</h5>
                    <p class="card-text service-para">"Elevate your event with us! Premier providers of exceptional experiences. Showcase on our platform and be the center of attention."</p>
                  </div>
                </div>
              </div>
            </div>
          </div> 
          
          <div class="col-md-4 col-sm-12 col-lg-4">
            <div class=" mb-3" style="max-width: 500px;">
              <div class="row g-0">
                <div class="col-md-2 m-auto">
                  <img src="{% static 'image/web-analysis.png'%}" width="50px" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title service-title">Register Now</h5>
                    <p class="card-text service-para">"Unlock your event journey with us! From attendee-ready experiences to expertly organized events, we've got your ticket to excitement. Register Now! "</p>
                  </div>
                </div>
              </div>
            </div>
          </div>          
      </div>
    </div>
    <div class="container-fluid cate-bg">
      <div class=" m-auto mt-5">
        <div class="row m-auto">
          <div class="mt-5 col-md-12 col-sm-12 col-lg-12 text-center"> 
            <div class="Upcoming-title p-2">TYPES OF PARTIES & EVENTS</div> 
            <div class="text-white">────────────</div>
          </div>
        </div>
        <div class="container mt-5 ">
          <div class="row m-auto">
            {% for i in category %}
            <div class="col-md-4 col-sm-12 col-lg-4 mt-3 text-start"> 
            <a href="">
              <div class="card category-card" style="width: 22rem;">
                <img src="media/{{i.image}}" width="100%" alt="" class="card-img-top" >
                <!-- <img src="{% static 'image/conferenceimg.jpg'%}" class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title cate-title">{{i.name}}</h5>
                  <p class="card-text cate-disc">{{i.desc}}</p>
                  <a href="/" class="bn13  p-2 btn-outline-dark border-dark">Explore More..</a>
                </div>
              </div>
            </a>
            </div>
            {% endfor %} 
            <!-- {% for i in sub_category %}
                <div class="mt-1">{{i.name}}</div>
            {% endfor %}                    -->
          </div>
        </div>
        
        <div class="container mt-5">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 text-center p-5 view-more mt-2">
              <a href="#" class="bn13 p-3 mt-5">View more</a>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div class="container-fluid mt-5">
        <div class="regi-sec mt-5">
          <div class="row mt-5">
            <div class="col-md-12 col-sm-12 col-lg-12 text-center"><div class="fs-1">Are you ready joing us?</div></div>
            <div class="col-md-12 col-sm-12 col-lg-12 text-center">────────────</div>
            <div class="col-md-8 col-sm-12 col-lg-8 m-auto text-center mt-3">"Get ready to embark on an unforgettable journey with us! Join us in creating memories, forging connections, and experiencing the extraordinary. Your adventure begins here – are you ready to make it extraordinary? "</div>
            <div class="col-md-12 m-auto col-sm-12 col-lg-12 text-center "> <a href="#" class="bn13 p-3 mt-5  border-dark">REGISTER TODAY</a></div>
          </div>
        </div>
      </div>
      <div class="container-fluid mt-5 upcoming-sec">
      <div class=" mt-5">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 text-center mt-5">
              <div class="Upcoming-title ">Upcoming Events</div>
              <div class="text-white">───────────</div>
            </div>    
        </div>
        <div class="container mt-5">
          <div class="row mt-5">
            <div class="col-md-6 col-sm-12 col-lg-6 mt-5">
              <div class="card" style="max-width: 600px;">
                <div class="row g-0">
                  <div class="col-md-4 border border-3">
                    <img src="{% static 'image/infoTech.jpg'%}" class="img-fluid rounded-start" width="100%" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body text-start">
                      <h5 class="card-title event-title">CyberTech Conference</h5>
                      <div class="card-text"><small >₹ : 999</small></div>
                      <div class="card-text"><small><strong>Date :</strong> 25 july 2024</small></div>
                      <div class="card-text"><small ><strong>Location :</strong> CyberSphere Tech Center - Pune</small></div>
                      <div class="card-text"><small class="text-muted">Education</small></div>
                      <p class="card-text ">"Unleashing the Potential of Technology at Cybertech Seminar 2024!"</p>
                      <a href="#" class="bn13 btn">Book Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-6 mt-5">
              <div class="card" style="max-width: 600px;">
                <div class="row g-0">
                  <div class="col-md-4 border border-3">
                    <img src="{% static 'image/bussinessposter.png'%}" class="img-fluid rounded-start" width="100%" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body text-start">
                      <h5 class="card-title event-title">Bussiness Webinar</h5>
                      <div class="card-text"><small >₹ : 499</small></div>
                      <div class="card-text"><small><strong>Date :</strong> 15 july 2024</small></div>
                      <div class="card-text"><small ><strong>Location :</strong> Convention Center,Hyderabad </small></div>
                      <div class="card-text"><small class="text-muted">Bussiness</small></div>
                      <p class="card-text "> Join industry experts for key insights to elevate your business!</p>
                      <a href="#" class="bn13 btn">Book Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-6 col-sm-12 col-lg-6 mt-5">
              <div class="card" style="max-width:600px;">
                <div class="row g-0">
                  <div class="col-md-4 border border-3">
                    <img src="{% static 'image/MusicPoster1.png'%}" class="img-fluid rounded-start" width="100%" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body text-start">
                      <h5 class="card-title event-title">Music Event</h5>
                      <div class="card-text"><small >₹ : 350</small></div>
                      <div class="card-text"><small><strong>Date :</strong> 20 july 2024</small></div>
                      <div class="card-text"><small ><strong>Location :</strong> Starlight Amphitheater - Udaipur</small></div>
                      <div class="card-text"><small class="text-muted">Entertainmet</small></div>
                      <p class="card-text ">"Harmony Unleashed: Groove into the Beat at SoundFusion 2024!"</p>
                      <a href="#" class="bn13 btn">Book Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-6 mt-5">
              <div class="card" style="max-width: 600px;">
                <div class="row g-0">
                  <div class="col-md-4 border border-3">
                    <img src="{% static 'image/garbaPoster.jpg'%}" class="img-fluid rounded-start" width="100%" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body text-start">
                      <h5 class="card-title event-title">Garba Night</h5>
                      <div class="card-text"><small >₹ : 899</small></div>
                      <div class="card-text"><small><strong>Date :</strong> 15 Octomber 2024</small></div>
                      <div class="card-text"><small ><strong>Location :</strong>"Garba Extravaganza , Ahmedabad!"</small></div>
                      <div class="card-text"><small class="text-muted">Festival</small></div>
                      <p class="card-text "> "Dance to the Rhythm of Tradition: Garba Night 2024!" </p>
                      <a href="#" class="bn13 btn">Book Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container mt-5">
            <div class="row mt-5 ">
              <div class="col-md-12 col-sm-12 col-lg-12 text-center p-5 view-more mt-2 ">
                <a href="#" class="bn13 p-3  mt-2">View more Events..</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  
      <hr>
      <div class="container-fluid mt-5">
        <div class="row mt-5">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="Upcoming-title text-dark text-center">Read our latest Blogs</div>
                <div class=" text-dark text-center m-auto ">Our Blog</div>
                <div class="text-dark m-auto text-center">───────────</div>
            </div>
        </div>
        <div class="container">
          <div class="row mt-5 "> 
          <div class="col-md-4 col-sm-12 col-lg-4">
            <figure class="figure blog-post text-start "  style="width: 400px;" >
              <img src="{% static 'image/seatperson.jpg'%}" class="figure-img img-fluid "  alt="...">
              <figcaption class="figure-caption">january 12,2023</figcaption>
              <figcaption class="text-dark fs-5">Exploring Innovations in Artificial Intelligence.</figcaption>
              <figcaption>"Unleashing Innovation: Join us for a Conference of Ideas!'</figcaption>
            </figure>
          </div>
          <div class="col-md-4 col-sm-12 col-lg-4">
            <figure class="figure blog-post text-start "  style="width: 400px;" >
              <img src="{% static 'image/calanderpc.jpg'%}" class="figure-img img-fluid "  alt="...">
              <figcaption class="figure-caption">march 15,2023</figcaption>
              <figcaption class="text-dark fs-5">"Ignite Your Intellectual Sparks: A Knowledge Expedition"</figcaption>
              <figcaption>"Empower Minds, Transform Futures: Join us at the Education Conference 2024!"</figcaption>
            </figure>
          </div>
          <div class="col-md-4 col-sm-12 col-lg-4">
            <figure class="figure blog-post  text-start "  style="width: 400px;" >
              <img src="{% static 'image/freshrparty2.jpg'%}" class="figure-img img-fluid "  alt="...">
              <figcaption class="figure-caption">december 20,2023</figcaption>
              <figcaption class="text-dark fs-5 ">"Harmony Fest 2023: A Melodic Journey"</figcaption>
              <figcaption>"Harmony Unleashed: Let the Beats Move Your Feet! </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-md-12 m-auto col-sm-12 col-lg-12 text-center "> <a href="#" class="bn13 p-2 mt-5  border-secondary">Read more..</a></div>
      </div>
    </div>
    <hr class="mt-5">
          <div class="container mt-5 m-auto">
            <div class="container mt-5 m-auto">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-lg-12 text-start">SUBSCRIBE</div>
                </div>
                <div class="row  mt-3 container">
                    <div class="col-md-8 col-sm-12 col-lg-8 m-auto text-start">
                      <div class="fs-1 col-10">Sign up for updates on all our future events</div>
                      <div class="d-flex flex-row mt-4">
                          <div><input type="email" class="form-control sub-input rounded-0 border-dark" name="" id="" placeholder="Enter your email here*"></div>
                          <div><input type="button" class="btn btn-outline-dark rounded-0 " value="Subscribe Now"></div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-lg-4 m-auto">
                      <div><img src="{% static 'image/deadlineicon.png'%}" width="70%" alt=""></div>
                    </div>
                </div>
                </div>
            </div>
          </div>    <hr>

          
  </main>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
{% endblock body %}